h1 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

vaadin-grid vaadin-grid-cell-content:nth-child(2) {
    overflow-x: scroll !important;
}

vaadin-grid vaadin-grid-cell-content img {
    height: 600px;
}

* {
    border-style: none !important;
}

p.registration {
    margin-bottom: 0;
}

vaadin-button.updateprofile {
    margin-bottom: 40px;
}
